.container {
    background-color: var(--surface);
    box-shadow: inset -0.0625rem -0.0625rem #0a0a0a, inset 0.0625rem 0.0625rem #dfdfdf, inset -0.125rem -0.125rem grey, inset 0.125rem 0.125rem #fff;
    padding: 0.1875rem;
    max-height: calc(100% - 1.75rem);
}

.container.minified {
    transform: translateY(100vh);
}

.container .header {
    user-select: none;
    cursor: default;
    background: linear-gradient(to right, var(--dialog-gray), var(--dialog-gray-light));
    color: #ffffff;
    padding: 0.1875rem 0.125rem 0.1875rem 0.1875rem;
    font-weight: 700;
    letter-spacing: 0;
}

.container .header.active {
    background: linear-gradient(90deg, var(--dialog-blue), var(--dialog-blue-light));
}

.container .header .caption {
    font-size: var(--font-size_s);
}

.container .header .caption img {
    width: 1rem;
    height: 1rem;
}

.container .header .controls {

}

.container .body {
    max-height: calc(100dvh - 4.9375rem);
}