.container {
    background-color: var(--surface);
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    max-width: 640px;
    width: calc(100% - 2rem);
}

.container.minified {
    transform: translateY(100vh);
}

.container .header {
    user-select: none;
    cursor: default;
    background: linear-gradient(to right, var(--dialog-gray), var(--dialog-gray-light));
    color: #ffffff;
    padding: 3px 2px 3px 3px;
    font-weight: 700;
    letter-spacing: 0;
}

.container .header.active {
    background: linear-gradient(90deg, var(--dialog-blue), var(--dialog-blue-light));
}

.container .header .caption {
    font-size: 12px;
}

.container .header .caption img {
    width: 16px;
    height: 16px;
}

.container .header .controls {

}

.container .body {
    max-height: calc(100dvh - 79px);
}