.button {
    box-sizing: border-box;
    border: none;
    color: transparent;
    text-shadow: 0 0 var(--text-color);
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
    line-height: 1.4375rem;
    min-width: 4.6875rem;
    min-height: 1.4375rem;
    padding: 0 0.75rem;
    cursor: default;
}

.button:not(:disabled):active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    text-shadow: 0.0625rem 0.0625rem var(--text-color);
}

.button:focus {
    outline: 0.0625rem dotted #000000;
    outline-offset: -0.25rem;
}

.button:disabled {
    color: var(--button-shadow);
    text-shadow: 0.0625rem 0.0625rem 0 var(--button-highlight);
}