.desktopIcon {
    width: 4.6875rem;
    height: 4.6875rem;
    touch-action: none;
    cursor: default;
    user-select: none;
    outline: none;
}

.desktopIcon .iconWrapper {
    width: 2rem;
    height: 2rem;
    position: relative;
}

.desktopIcon .iconWrapper img {
    width: 2rem;
    height: 2rem;
}

.desktopIcon.active .iconWrapper .selectionEffect {
    background: var(--dialog-blue);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask-image: var(--mask);
    -webkit-mask-image: var(--mask);
    -webkit-mask-size: 2rem;
}

.desktopIcon .title {
    background: #008080;
    color: #ffffff;
    margin-top: 0.3125rem;
    border: 0.0625rem solid transparent;
    line-height: 0.8125rem;
}

.desktopIcon.active .title {
    background: var(--dialog-blue);
    border: 0.0625rem dotted #ffffff;
}