.terminal {

}

.caret {
    color: white;
    animation: blink .5s step-end infinite;
    margin-left: 0.1875rem;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}