@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms-sans-serif/ms_sans_serif.woff") format("woff");
    src: url("fonts/ms-sans-serif/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glasstown";
    src: url("fonts/glasstown/Glasstown.woff") format("woff");
    src: url("fonts/glasstown/Glasstown.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;

    --border-width: 0.0625rem;
    --border-raised-outer: inset -0.0625rem -0.0625rem var(--window-frame),
    inset 0.0625rem 0.0625rem var(--button-highlight);
    --border-raised-inner: inset -0.125rem -0.125rem var(--button-shadow),
    inset 0.125rem 0.125rem var(--button-face);
    --border-sunken-outer: inset -0.0625rem -0.0625rem var(--button-highlight),
    inset 0.0625rem 0.0625rem var(--window-frame);
    --border-sunken-inner: inset -0.125rem -0.125rem var(--button-face),
    inset 0.125rem 0.125rem var(--button-shadow);

    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -0.0625rem -0.0625rem var(--window-frame),
    inset 0.0625rem 0.0625rem var(--button-face);
    --border-window-inner: inset -0.125rem -0.125rem var(--button-shadow),
    inset 0.125rem 0.125rem var(--button-highlight);

    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -0.0625rem -0.0625rem var(--button-highlight),
    inset 0.0625rem 0.0625rem var(--button-shadow), inset -0.125rem -0.125rem var(--button-face),
    inset 0.125rem 0.125rem var(--window-frame);

    /* Tabs */
    --border-tab: inset -0.0625rem 0 var(--window-frame),
    inset 0.0625rem 0.0625rem var(--button-face),
    inset -0.125rem 0 var(--button-shadow),
    inset 0.125rem 0.125rem var(--button-highlight);

    --checker: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8/////4MHDzIwHjhw4L+9vT0DAHAFCj6esq3FAAAAAElFTkSuQmCC);

    --offset_3xs: 0.25rem;
    --offset_2xs: 0.5rem;
    --offset_xs: 0.75rem;
    --offset_s: 1rem;
    --offset_m: 1.25rem;
    --offset_l: 1.5rem;
    --offset_xl: 2rem;

    --font-size_xs: 0.75rem;
    --font-size_s: 0.875rem;
    --font-size_m: 1rem;
    --font-size_l: 1.125rem;
    --font-size_xl: 1.25rem;
    --font-size_2xl: 1.5rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar:horizontal {
    height: 1.0625rem;
}

::-webkit-scrollbar-corner {
    background: var(--button-face);
}

::-webkit-scrollbar-track {
    background-image: url("./icons/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-face);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
}

::-webkit-scrollbar-button:vertical:start {
    height: 1.0625rem;
    background-image: url("./icons/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
    height: 1.0625rem;
    background-image: url("./icons/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
    width: 1rem;
    background-image: url("./icons/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
    width: 1rem;
    background-image: url("./icons/button-right.svg");
}


html, body {
    font-family: Tahoma, Verdana, Segoe, serif;
    font-size: var(--font-size_s);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}