@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms-sans-serif/ms_sans_serif.woff") format("woff");
    src: url("fonts/ms-sans-serif/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-primary: #c0c0c0;
    --text-primary: #222222;
    --box-shadow-default: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}
html, body {
    /*font-family: 'Handjet', sans-serif;*/
    font-family: "Pixelated MS Sans Serif", Arial, serif;
}